.imag {
  padding-top: 20px;
}
.container {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 2%;
}
li {
  font-size: 24px;
}
.btn {
  width: 200px;
  height: 150px;
}
.zag {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 2%;
}
